<% 
first_billy = TeamMember.find_by_first_name('Billy')
billys = TeamMember.find_all_by_first_name('Billy')
if first_billy.present?
%>
  <p>Billy who? <%= first_billy.last_name %></p>
  <p>Count: <%= billys.length %></p>
<% end %>


<p><a href='/create'>Create another Corgan</a></p>
<p><a href='/delete'>Delete</a></p>
