<!DOCTYPE html PUBLIC "-//W3C//Dth XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/Dth/xhtml1-transitional.dth">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Mongo test test</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
</head>
<body>
  <div id="header">
    <h1>Mongo test test</h1>
    <p>A test app to try out the functionality of <a href="http://www.mongodb.org/">mongodb</a>, and see how <a href="http://www.sinatrarb.com/">sinatra</a> works.</p>
  </div>
  
  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Code from: <a href="http://github.com/taktran/mongotesttest">mongotesttest</a></p>
  </div>
</body>